.apibox {
   
    height: 400px; 
    width: 1400px; 
    box-shadow: 2px 2px 50px rgb(3, 3, 3 , 0.1);
    display: flex;
    
    gap: 100px;
}

.walletaddresscontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
     
    height: 250px;
    
}

.walletaddresstext {
    font-family: "Roboto", sans-serif;  
    font-size: 22px;
    font-weight: 500;  
}

.apitext {
    color: blue;
    font-family: "Roboto", sans-serif;  
    font-size: 22px;
    font-weight: 500;
    text-decoration: underline;  
}