
#servicesContainer {
    height: 250px;
    width: calc(100% - 100px);
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.serviceIcons {
    height: 200px;
    width: 200px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}

.servicesIconText {
    font-family: 'Roboto Condensed', sans-serif; 
    font-weight: 500;
}

.serviceText {
    font-family: 'Roboto Condensed', sans-serif; 
    font-size: 12px;
}